---
- name: Restart pi-hole
  community.docker.docker_compose_v2:
    project_src: "{{ config_dir }}/pi-hole/"
    build: never
    state: restarted
  become: false

- name: Restart internet-monitoring
  community.docker.docker_compose_v2:
    project_src: "{{ config_dir }}/internet-monitoring/"
    build: never
    files: "{{ monitoring_compose_files_resolved | default(['docker-compose.yml']) | to_json | from_json }}"
    state: restarted
  become: false

- name: Restart shelly-plug-prometheus
  community.docker.docker_compose_v2:
    project_src: "{{ config_dir }}/shelly-plug-prometheus/"
    build: never
    state: restarted
  become: false

- name: Restart starlink-exporter
  community.docker.docker_compose_v2:
    project_src: "{{ config_dir }}/starlink-exporter/"
    build: never
    state: restarted
  become: false

- name: Restart wifi exporter
  ansible.builtin.systemd:
    name: wifi_exporter
    state: restarted
    daemon_reload: true

- name: Reload wpa_supplicant configuration
  ansible.builtin.command: "wpa_cli -i {{ wifi_exporter_iface | default('wlan0') }} reconfigure"
  register: wpa_cli_reconfigure
  changed_when: "'OK' in (wpa_cli_reconfigure.stdout | default(''))"
  failed_when: false
  listen: Reload wpa_supplicant
