---
- name: Gather package facts.
  ansible.builtin.package_facts:
    manager: auto
  when: ansible_facts.userspace_bits == '32'

- name: Upgrade libseccomp2 to latest version (32-bit Debian).
  ansible.builtin.import_tasks: tasks/debian-libseccomp-update.yml
  when:
    - ansible_facts.os_family == "Debian"
    - ansible_facts.userspace_bits == '32'
    - ansible_facts.packages['libseccomp2'][0]['version'] is version('2.4.4', '<')

- name: Synchronize internet-monitoring directory.
  ansible.posix.synchronize:
    src: internet-monitoring
    dest: "{{ config_dir }}/"
    delete: false
    recursive: true
    perms: false
  become: false

# This is an upgrade task from 1.x to 2.x - can be removed for 3.x.
- name: Ensure internet-monitoring directory is not a Git repository.
  ansible.builtin.file:
    path: "{{ config_dir }}/internet-monitoring/.git/"
    state: absent
  become: false

- name: Copy templated internet-monitoring files into place.
  ansible.builtin.template:
    src: templates/{{ item.src }}
    dest: "{{ config_dir }}/internet-monitoring/{{ item.dest }}"
    mode: 0644
  loop:
    - src: docker-compose.yml.j2
      dest: docker-compose.yml
    - src: grafana-config.monitoring.j2
      dest: grafana/config.monitoring
    - src: prometheus.yml.j2
      dest: prometheus/prometheus.yml
    - src: prometheus-pinghosts.yaml.j2
      dest: prometheus/pinghosts.yaml
  notify: Restart internet-monitoring
  become: false

- name: Render RADIUS exporter configuration.
  ansible.builtin.template:
    src: templates/radius-exporter-config.yml.j2
    dest: "{{ config_dir }}/internet-monitoring/exporters/radius/config.yml"
    mode: 0600
  when: radius_exporter_enable | default(false)
  become: false

- name: Render VPN exporter configuration.
  ansible.builtin.template:
    src: templates/vpn-exporter-config.yml.j2
    dest: "{{ config_dir }}/internet-monitoring/exporters/vpn/config.yml"
    mode: 0600
  when: vpn_exporter_enable | default(false)
  become: false

- name: Render VoIP quality exporter configuration.
  ansible.builtin.template:
    src: templates/voip-quality-exporter-config.yml.j2
    dest: "{{ config_dir }}/internet-monitoring/exporters/voip/config.yml"
    mode: 0600
  when: voip_quality_exporter_enable | default(false)
  become: false

- name: Ensure internet-monitoring environment is running.
  community.docker.docker_compose_v2:
    project_src: "{{ config_dir }}/internet-monitoring/"
    build: "{{ 'always' if (radius_exporter_enable | default(false)) or (vpn_exporter_enable | default(false)) or (voip_quality_exporter_enable | default(false)) else 'never' }}"
  become: false
